<div class="benefit_subtitle clearfix">
	<span class="item_source item_source_{{source}}"></span>
	{{if source == "1"}}
	<h4><strong>新手福利</strong>（首次投资用户专享，<em>100</em>元起投）</h4>
	{{/if}}
</div>
<div class="clearfix">
	<div class="benefit_main">
		<h3 class="benefit_title">
			<div class="icon_item">
				<span class="item_bao"></span>
				<span class="item_di"></span>
			</div>
			<span>{{projectId}}</span><a href="{{productUrl}}">{{projectName}}</a>
		</h3>
		<table class="finance_detail">
			<tr>
				<th>年化利率</th>
				<th>借款金额</th>
				<th>借款期限</th>
			</tr>
			<tr>
				<td><strong class="item_rate">{{interest}}%</strong></td>
				<td><strong>{{amount}}</strong>元</td>
				<td><strong>{{period | parseInt}}</strong>{{period | getPeriodUnit}}</td>
			</tr>
		</table>
	</div>
	<div class="benefit_aside">
		<div class="benefit_aside_bd">
			<div class="recommend_progress"><span style="width:{{progress}}%"></span></div>
			<span class="benefit_progress_num">已完成 <span>{{progress}}%</span></span>
		</div>
		<div class="benefit_aside_ft">
			{{if progress < 100}}
			<a href="{{productUrl}}" class="benefit_btn">立即投资</a>
			{{/if}}
			<div class="benefit_deadline"><span>截止日期：</span><em>{{deadLineDate | dateFormat:'yyyy-MM-dd'}}</em></div>
		</div>
	</div>
</div>
<i></i>
<a href="{{productUrl}}" class="benifit_link"></a>