<div class="yp__guidebox" id="yp__guideMbox">

  <div class="yp__guidecont">
    <div class="yp__info yp__smaf">企业经营借款（5年保证，还款可靠）<strong>12%</strong>年化利率<a id="yp__guideClose" href="javascript:;"></a></div>
    <div class="yp__topbg"></div>
    <div class="yp__conbg yp__prop"><dl>轻松理财<br />“升升”不息</dl><a href="javascript:;">我有闲钱，帮我理财</a></div>
    <div class="yp__bombg"></div>
    <div class="yp__info yp__smaf">个人借款（双重保障，还款可靠）<strong>12%</strong>年化利率</div>
  </div>
  
  <a class="yp__guidebrie" id="yp__guideBriefly" href="javascript:;">
    <em class="yp__prop"></em>
    <span>低风险理财</span>
  </a>
  
</div>