<div class="yp__guidebox" id="yp__guideMbox">

  <div class="yp__guidecont">
    <div class="yp__info">资金紧张不用怕,有信用就能贷款<a id="yp__guideClose" href="javascript:;"></a></div>
    <div class="yp__topbg"></div>
    <div class="yp__conbg yp__loan">您已获得<span>&nbsp;</span>特权<a href="javascript:;">我想申请贷款</a></div>
  </div>
  
  <a class="yp__guidebrie" id="yp__guideBriefly" href="javascript:;">
    <em class="yp__loan"></em>
    <span>无抵押贷款</span>
  </a>
  
</div>