{{each helpCatalogList}}
<dl {{if $value.catalogName === '我的信用分'}} class="selected" {{/if}}>
	<dt>{{$value.catalogName}}</dt>
	{{each $value.helpTopicList as item index}}
	<dd {{if index === 0}} class="selected" {{/if}}><a href="#{{item.helpTopicId}}" data-id="{{item.helpTopicId}}">{{item.helpTopicName}}</a></dd>
	{{/each}}
</dl>
{{/each}}