<div class="product clearfix">
	<div class="product_main">
		<div class="product_icon">
			{{if wp.guarantee}}<span class="item_ensure">担保</span>{{/if}}
			{{if wp.mortgage}}<span class="item_di">抵押</span>{{/if}}
			<!-- <span class="item_experience">体验</span> -->
		</div>
		<ul class="item_summary">
			<li><label>编号：</label><span>{{wp.projectId}}</span></li>
			<li><label>项目名称：</label><span>{{wp.projectName}}</span></li>
		</ul>
		<ul>
			<li><label>借款金额：</label><span>{{wp.amount}}元</span></li>
			<li><label>借款期限：</label><span>{{wp.period}}</span></li>
			<li><label>年化利率：</label><span>{{wp.interest}}%</span></li>
			<li><label>还款方式：</label><span>{{wp.repaymentTypeName}}</span></li>
		</ul>
	</div>

	<div class="product_aside">
		<!-- .item_pending 筹集中 | .item_done 已满标 | .item_repay 已还款 -->
		<div class="product_status">
			{{if wp.progress < 100}}
			<span class="item_pending">筹集中</span>
			{{else}}
			<span class="item_done">已满标</span>
			{{/if}}
		</div>
		<div class="product_progress">
			<label>筹集进度：</label>
			<div class="product_progress_bd">
				<span style="width:{{wp.progress}}%"></span>
			</div>
			<div class="product_progress_num">{{wp.progress}}%</div>
		</div>
		<div class="product_limit">剩余额度：<em>{{wp.amountBalance}}</em>元</div>
		{{if wp.progress < 100}}
		<div class="product_btn"><a href="{{wp.href}}">立即投资</a></div>
		{{else}}
		<div class="product_btn"><span>暂停投资</span></div>
		{{/if}}
		<div class="product_deadline">截止日期：{{wp.deadLineDate | dateFormat:'yyyy-MM-dd'}}</div>
	</div>
</div>

<div class="tab">
	<div id="tab_hd" class="tab_hd">
		<a class="selected" href="#project">项目详情</a>
		<a href="#log">投资记录</a>
	</div>

	<div id="tab_bd" class="tab_bd">
		<div class="tab_item selected">
			<h3>借款说明</h3>
			<ul>
				<li>
					<label>借款用途：</label>
					<span>{{wp.purpose}}</span>
				</li>
			</ul>

			<h3>风险控制</h3>
			<div class="project_risk project_source">
				<p><strong>还款来源——</strong></p>
				<pre>{{wp.repaymentSource}}</pre>
			</div>
			<div class="project_risk project_bao"><strong>担保信息：</strong>{{wp.guarantee}}</div>
			<div class="project_risk project_di"><strong>抵押信息：</strong>{{wp.mortgage}}</div>
			
			<h3>借款人信息</h3>
			<ul>
				<li><strong>借款人姓名：</strong>{{wp.borrowerName}}</li>
				<li><strong>身份证号码：</strong>{{wp.idNo}}</li>
				<li><strong>手机号码：</strong>{{wp.mobile}}</li>
			</ul>

		</div>

		<div class="tab_item">
			{{if wp.biddingCount}}
			<div class="log">
				<div class="log_hd">截止目前已有 <em>{{wp.biddingCount}}笔</em> 投资，共计投资金额 <em>{{wp.investmentAmount}}元</em></div>
				<!-- <table class="log_bd">
					<thead>
						<tr>
							<th class="item_col_user">投资人</th>
							<th class="item_col_count">投资金额（元）</th>
							<th class="item_col_datetime">投资时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>l***lou</td>
							<td>5000</td>
							<td>2015-05-20 14:21:25</td>
						</tr>
						<tr>
							<td>l***lou</td>
							<td>5000</td>
							<td>2015-05-20 14:21:25</td>
						</tr>
						<tr>
							<td>l***lou</td>
							<td>5000</td>
							<td>2015-05-20 14:21:25</td>
						</tr>
						<tr>
							<td>l***lou</td>
							<td>5000</td>
							<td>2015-05-20 14:21:25</td>
						</tr>
						<tr>
							<td>l***lou</td>
							<td>5000</td>
							<td>2015-05-20 14:21:25</td>
						</tr>
					</tbody>
				</table> -->
			</div>
			{{else}}
			<div class="product_empty">当前尚未有投资记录</div>
			{{/if}}
		</div>
	</div>
</div>