<div class="filter">
	<h2 class="filter_hd">理财产品筛选</h2>
	<ul class="filter_bd">
		<li data-name="source">
			<label class="item_hd">来源平台：</label>
			<div class="item_bd">
				<a {{if source == ''}} class="selected" {{/if}} href="">全部</a>
				<a {{if source == '3'}} class="selected" {{/if}} data-value="3" href="">芝麻金融</a>
				<a {{if source == '1'}} class="selected" {{/if}} data-value="1" href="">易宝金融</a>
				<a {{if source == '2'}} class="selected" {{/if}} data-value="2" href="">财多多</a>
			</div>
		</li>
		<li data-name="interest">
			<label class="item_hd">年化利率：</label>
			<div class="item_bd">
				<a {{if interestFloor == '' && interestCelling == ''}} class="selected" {{/if}} href="">全部</a>
				<a {{if interestFloor == '8' && interestCelling == '10'}} class="selected" {{/if}} data-value="8-10" href="">8% - 10%</a>
				<a {{if interestFloor == '10' && interestCelling == '12'}} class="selected" {{/if}} data-value="10-12" href="">10% - 12%</a>
				<a {{if interestFloor == '12' && interestCelling == '15'}} class="selected" {{/if}} data-value="12-15" href="">12% - 15%</a>
				<a {{if interestFloor == '15'}} class="selected" {{/if}} data-value="15-" href="">15%以上</a>
			</div>
		</li>
		<li data-name="periodDays">
			<label class="item_hd">借款期限：</label>
			<div class="item_bd">
				<a {{if periodDaysFloor == '' && periodDaysCelling == ''}} class="selected" {{/if}} href="">全部</a>
				<a {{if periodDaysFloor == '0' && periodDaysCelling == '180'}} class="selected" {{/if}} data-value="0-180" href="">0-6个月</a>
				<a {{if periodDaysFloor == '180' && periodDaysCelling == '360'}} class="selected" {{/if}} data-value="180-360" href="">6-12个月</a>
				<a {{if periodDaysFloor == '360' && periodDaysCelling == '720'}} class="selected" {{/if}} data-value="360-720" href="">12-24个月</a>
				<a {{if periodDaysFloor == '720'}} class="selected" {{/if}} data-value="720-" href="">24个月以上</a>
			</div>
		</li>
		<li data-name="progressFloor">
			<label class="item_hd">募集状态：</label>
			<div class="item_bd">
				<a {{if progressFloor == ''}} class="selected" {{/if}} href="">全部</a>
				<a {{if progressFloor == '0'}} class="selected" {{/if}} data-value="0" href="">募集中</a>
				<a {{if progressFloor == '100'}} class="selected" {{/if}} data-value="100" href="">还款中</a>
			</div>
		</li>
	</ul>
</div>

<table class="productlist">
	<thead>
		<tr>
			<th class="item_col_rel">来源平台</th>
			<th class="item_col_number">编号</th>
			<th class="item_col_project">项目名称</th>
			<th class="item_col_icon"></th>
			<th class="item_col_rate"><a data-name="sort" data-value="interest" href="" class="item_order {{if sort === 'interest'}} item_{{orderType}} selected {{/if}}">年化利率</a></th>
			<th class="item_col_deadline"><a data-name="sort" data-value="periodDays" href="" class="item_order {{if sort === 'periodDays'}} item_{{orderType}} selected {{/if}}">借款期限</a></th>
			<th class="item_col_progress">筹集进度</th>
			<th class="item_col_btn"></th>
		</tr>
	</thead>
	<tbody>
		{{each list}}
		<tr>
			<td>
				<div class="item_source item_source_{{$value.source}}"></div>
			</td>
			<td>{{$value.projectId}}</td>
			<td><a class="item_project" href="{{$value.productUrl}}">{{$value.projectName}}</a></td>
			<td class="item_icon">
				<span class="item_ensure">担保</span>
				<span class="item_di">抵押</span>
				<!-- <span class="item_experience">体验</span> -->
			</td>
			<td class="item_rate">{{$value.interest}}%</td>
			<td>{{$value.period}}</td>
			<td>
				<div class="item_progress_num">已完成{{$value.progress}}%</div>
				<div class="item_progress">
					<span style="width:{{$value.progress}}%"></span>
				</div>
			</td>
			<td>
				{{if $value.progress < 100}}
				<a href="{{$value.productUrl}}" class="item_btn">我要投资</a>
				{{else}}
				<span class="item_btn item_done">已满标</span>
				{{/if}}
				<div class="item_deadline">截止日期：{{$value.deadLineDate | dateFormat:'yyyy-MM-dd'}}</div>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>