{{each list}}
{{if $index < 6}}
<li>
	<div class="recommend_img clearfix">
		<span class="item_source item_source_{{$value.source}}"></span>
		<div class="icon_item">
			<span class="item_bao"></span>
			<span class="item_di"></span>
		</div>
	</div>
	<h3 class="recommend_title"><span>{{$value.projectId}}</span><a href="{{$value.productUrl}}">{{$value.projectName}}</a></h3>
	<table class="recommend_detail">
		<tr>
			<th>年化利率</th>
			<th>借款期限</th>
		</tr>
		<tr>
			<td ><strong class="item_rate">{{$value.interest}}%</strong></td>
			<td><strong>{{$value.period | parseInt}}</strong>{{$value.period | getPeriodUnit}}</td>
		</tr>
	</table>
	<div class="recommend_progress"><span style="width:{{$value.progress}}%"></span></div>
	<div class="recommend_progress_num">已完成 <span>{{$value.progress}}%</span></div>
	{{if $value.progress < 100}}
	<div class="recommend_btn"><a href="{{$value.productUrl}}">立即投资</a></div>
	{{else}}
	<div class="recommend_btn"><span>已满标</span></div>
	{{/if}}
	<div class="recommend_deadline">截止日期：{{$value.deadLineDate | dateFormat:'yyyy-MM-dd'}}</div>
	<a href="{{$value.productUrl}}" class="item_link"></a>
</li>
{{/if}}
{{/each}}