.yp__guidebox {
  width: 660px;
  height: 320px;
  background-color: #ff7d2e;
  position: absolute;
  z-index: 99999999;
  right: 50%;
  top: 50%;
  margin: -200px -330px 0 0;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.yp__guidebox .yp__info {
  color: #fff;
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  padding: 0 30px;
  position: relative;
}
.yp__guidebox .yp__info a {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 2px solid #f46c1a;
  background: url(../images/yl01.png) no-repeat 10px -349px #ffffff;
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
}
.yp__guidebox .yp__info a:hover {
  border-color: #c14900;
  background-color: #fef7f2;
}
.yp__guidebox .yp__topbg,
.yp__guidebox .yp__bombg {
  height: 2px;
  font-size: 0;
  line-height: 0;
}
.yp__guidebox .yp__topbg {
  background: url(../images/yl02.png) repeat-x left top;
}
.yp__guidebox .yp__bombg {
  background: url(../images/yl02.png) repeat-x left -32px;
}
.yp__guidebox .yp__loan {
  font-size: 24px;
  line-height: 210px;
  height: 210px;
  text-indent: 40px;
}
.yp__guidebox .yp__loan span {
  padding: 70px 80px;
  background: url(../images/yl01.png) no-repeat center 15px;
}
.yp__guidebox .yp__conbg {
  background-color: #fde1d0;
  color: #c70000;
  position: relative;
}
.yp__guidebox .yp__conbg a {
  display: block;
  height: 46px;
  line-height: 46px;
  border: 2px solid #c70000;
  border-radius: 2px;
  background-color: #fff;
  font-size: 18px;
  color: #c70000;
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: -25px;
  text-decoration: none;
  text-indent: 0;
  padding: 0 20px;
  transition: 0.2s;
}
.yp__guidebox .yp__conbg a:hover {
  box-shadow: 0 0 5px #db7676;
  border-radius: 30px;
}
.yp__guidehide {
  width: 52px;
  height: 210px;
  overflow: visible;
  right: 25px;
  margin: -126px 0 0 0;
  border-radius: 5px;
  line-height: normal;
}
.yp__guidehide .yp__guidecont {
  display: none;
}
.yp__guidebox a.yp__guidebrie {
  display: none;
}
.yp__guidehide a.yp__guidebrie {
  display: block;
  width: 52px;
  height: 210px;
  position: relative;
  text-decoration: none;
}
.yp__guidehide a.yp__guidebrie em {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 3px solid #ff7d2e;
  position: absolute;
  background: url(../images/yl01.png) no-repeat right -404px #ffffff;
  top: -15px;
  left: -7px;
}
.yp__guidehide a.yp__guidebrie em.yp__loan {
  background-position: -87px -395px;
}
.yp__guidehide a.yp__guidebrie em.yp__prop {
  background-position: 14px -397px;
}
.yp__guidehide a.yp__guidebrie span {
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 56px;
  width: 30px;
  margin: 0 auto;
}
.yp__guidehide a.yp__guidebrie:hover {
  background-color: #e96400;
}
.yp__guidehide a.yp__guidebrie:hover em {
  border-color: #e96400;
}
.yp__guidebox .yp__smaf {
  font-size: 15px;
}
.yp__guidebox .yp__smaf strong {
  font-size: 30px;
  margin: 0 6px 0 30px;
}
.yp__guidebox .yp__prop {
  height: 148px;
  overflow: hidden;
}
.yp__guidebox .yp__prop dl {
  float: left;
  height: 90px;
  background: url(../images/yl01.png) no-repeat 170px -215px;
  margin: 40px 0 0 50px;
  text-align: right;
  font-size: 24px;
  line-height: 1.5;
  padding-right: 100px;
}
