.loan_title {
  margin-bottom: 20px;
  color: #827f97;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}
.loan2_logo {
  padding-bottom: 10px;
  border-bottom: 3px solid #fe6a37;
  background: #fff;
}
.loan2_logo span {
  display: block;
  width: 242px;
  height: 60px;
  background: url(../images/sinosig_logo.png) no-repeat 0 0;
  font-size: 0;
}
.loan2_apply {
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
}
.loan2_apply .item_aside {
  float: left;
  width: 450px;
}
.loan2_apply .item_main {
  float: right;
  width: 710px;
  padding-left: 10px;
  border-left: 1px solid #eee;
}
.loan2_apply h2 {
  margin-bottom: 10px;
  font-size: 22px;
}
.loan2_apply ul {
  margin-bottom: 10px;
}
.loan2_apply li {
  position: relative;
  width: 480px;
  margin-left: 75px;
  line-height: 20px;
  font-size: 15px;
}
.loan2_apply li label {
  position: absolute;
  left: -75px;
  top: 0;
  width: 75px;
  white-space: nowrap;
}
.loan2_apply .item_form {
  margin-right: 10px;
  text-align: right;
}
.loan2_apply button {
  width: 80px;
  height: 30px;
  margin-left: 20px;
  border: 0;
  background: #fe6a37;
  color: #fff;
}
.loan2_section {
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
}
.loan2_section_hd {
  margin-bottom: 15px;
  border-bottom: 3px solid #fe6a37;
  line-height: 30px;
  text-indent: 18px;
  font-size: 16px;
}
.loan2_content {
  display: none;
}
.loan2_feature ul {
  margin-top: -8px;
}
.loan2_feature li {
  margin-top: 8px;
  background: #FFEADD;
  line-height: 35px;
  font-size: 14px;
}
.loan2_feature li em {
  float: left;
  width: 75px;
  margin-right: 15px;
  background: url(../images/loan2_feature.png) no-repeat;
  color: #fff;
  text-align: center;
}
.loan2_material ul {
  width: 110%;
  margin-top: -20px;
}
.loan2_material li {
  float: left;
  width: 50%;
  margin-top: 20px;
  line-height: 30px;
  font-size: 14px;
}
.loan2_material .item_bd {
  margin-right: 20px;
  background: #F5F5F5;
}
.loan2_material span {
  float: left;
  width: 30px;
  margin-right: 10px;
  background: #FDC007;
  color: #fff;
  text-align: center;
}
.loan2_material_bd {
  overflow: hidden;
}
