.product {
  margin-bottom: 25px;
  border: 1px solid #cfcfcf;
  background: #fff;
  font-size: 14px;
}
.product_main {
  float: left;
  position: relative;
  width: 800px;
  border-right: 1px solid #cfcfcf;
  line-height: 20px;
}
.product_main ul {
  padding: 15px 0;
}
.product_main li {
  position: relative;
  margin-left: 105px;
  padding: 9px 0;
}
.product_main label {
  position: absolute;
  left: -105px;
  top: 0;
  width: 105px;
  padding: 9px 0;
  color: #666;
  text-align: right;
}
.product_main .item_summary {
  border-bottom: 1px solid #cfcfcf;
  background: #f9f9f9;
  font-size: 15px;
}
.product_main .item_summary li,
.product_main .item_summary label {
  padding: 5px 0;
}
.product_main .item_summary span {
  color: #000;
}
.product_icon {
  position: absolute;
  right: 15px;
  top: 25px;
  font-size: 0;
  text-align: right;
}
.product_icon span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  background: url(../images/product_icon.png) no-repeat 0 -9999px;
}
.product_icon .item_ensure {
  background-position: 0 0;
}
.product_icon .item_di {
  background-position: 0 -39px;
}
.product_icon .item_experience {
  background-position: 0 -78px;
}
.product_aside {
  float: right;
  width: 395px;
}
.product_status {
  margin: 10px 0 25px 0;
  text-align: right;
}
.product_status span {
  position: relative;
  right: -5px;
  display: inline-block;
  width: 120px;
  padding-left: 7px;
  line-height: 42px;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.product_status .item_pending {
  background-image: url(../images/product_pending.png);
}
.product_status .item_done {
  background-image: url(../images/product_done.png);
}
.product_status .item_repay {
  background-image: url(../images/product_repay.png);
}
.product_progress {
  margin-bottom: 30px;
  padding-left: 20px;
  line-height: 20px;
}
.product_progress label {
  float: left;
}
.product_progress_bd {
  float: left;
  position: relative;
  width: 210px;
  height: 18px;
  margin-right: 12px;
  border: 1px solid #c2c2c2;
  background: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  font-size: 0;
}
.product_progress_bd,
.product_progress_bd span {
  border-radius: 10px;
}
.product_progress_bd span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1px;
  height: 20px;
  background: #36c8af;
}
.product_limit {
  margin-bottom: 30px;
  padding-left: 20px;
}
.product_limit em {
  font-size: 16px;
}
.product_btn {
  margin-bottom: 15px;
  text-align: center;
}
.product_btn a,
.product_btn span {
  display: inline-block;
  width: 200px;
  line-height: 40px;
  border-radius: 3px;
  border-bottom: 2px solid #b43d35;
  background: #f25e54;
  color: #fff;
  font-size: 18px;
}
.product_btn a:hover {
  border-color: #a93028;
  background: #d83f35;
  text-decoration: none;
}
.product_btn span {
  background: #f79e98;
  border-bottom-color: #eb8d86;
}
.product_deadline {
  color: #666;
  font-size: 13px;
  text-align: center;
}
.tab {
  border: 1px solid #cfcfcf;
  background: #fff;
}
.tab_hd {
  height: 51px;
  border-bottom: 1px solid #cfcfcf;
  font-size: 0;
}
.tab_hd a {
  display: inline-block;
  position: relative;
  padding: 0 52px;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background: #f9f9f9;
  font-size: 18px;
  line-height: 52px;
}
.tab_hd .selected {
  background: #fff;
  border-bottom-color: #fff;
}
.tab_hd .selected:hover {
  text-decoration: none;
}
.tab_hd .selected:after {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  border-top: 2px solid #d63429;
}
.tab_bd {
  padding: 30px 35px;
}
.tab_item {
  display: none;
  font-size: 14px;
}
.tab_item.selected {
  display: block;
}
.tab_item h3 {
  margin: 25px 0;
  background: #dcf6f2;
  color: #00a587;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  line-height: 55px;
}
.tab_item ul label {
  font-weight: bold;
}
.tab_item ul li {
  position: relative;
  padding-left: 15px;
  line-height: 30px;
}
.tab_item ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  overflow: hidden;
  background: #333;
}
.tab_item p {
  margin-bottom: 5px;
}
.project_risk {
  position: relative;
  margin-bottom: 10px;
  padding: 5px 0 5px 60px;
}
.project_risk:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  width: 32px;
  height: 32px;
  background: url(../images/type.png) no-repeat 0 -9999px;
}
.project_bao:before {
  background-position: 0 0;
}
.project_di:before {
  background-position: 0 -32px;
}
.project_source:before {
  background-position: 0 -64px;
}
.log_hd,
.product_empty {
  padding: 75px 0;
  font-size: 24px;
  text-align: center;
}
.product_empty {
  color: #999;
}
.log_hd em {
  color: #f25e54;
}
.log {
  font-size: 14px;
}
.log_bd {
  width: 100%;
  margin-bottom: 30px;
}
.log_bd th,
.log_bd td {
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
}
.log_bd th {
  font-weight: bold;
  background: #ecfffc;
}
.log_bd .item_col_user {
  width: 340px;
}
.log_bd .item_col_count {
  width: 400px;
}
